@charset "utf-8";

/* 베이스 */

* {
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

#content {
    padding: 40px;
}

/* ------------------------------------------------------------------------------------------------- */


/* 상단 보호중 글 */
.visual_wrap {
    padding: 40px 0 40px 0;
    width: 90%;
    background-color: #f7f6f5;
    font-family: "nanumsquare";
    font-weight: bold;
    color: #333333;
}

.visual>dl>dt {
    font-size: 40px;
    margin-bottom: 10px;
}

.visual>dl>dd {
    font-size: 14px;
    font-weight: 300;
    color: #58595b;
    letter-spacing: -1px;
    line-height: 140%;
}


/* ------------------------------------------------------------------------------------------------- */

/* 이미지 */
.dog_Detail {
    position: relative;
}

.dog_Detail_Img {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border: 2px solid grey;
}


/* ------------------------------------------------------------------------------------------------- */

/* 테이블 */
.dog_Detail table {
    width: 100%;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

.dog_Detail tr {
    height: 40px;
    font-size: 14px;
    padding: 10px;
}

.dog_Detail .first {
    text-align: center;
    font-weight: bold;
    background-color: #f7f6f5;
}

.dog_Detail .last {
    text-align: left;
    border-bottom: 1px solid #e6e7e8;
}

/* ------------------------------------------------------------------------------------------------- */

/* 버튼 */
.listbtn {
    margin-top: 30px;
}

.btn_Detail {
    display: inline-block;
    width: 100px;
    line-height: 40px;
    border-radius: 5px;
    background-color: rgb(188, 188, 188);
}