@charset "UTF-8";

.ArticleTitle a{
	font-size : 20px;
}

.n_l_title{
	text-align:center;
	font-weight: bold;
    font-size: 40px;
    line-height : 110px;
    background-color : AliceBlue;
    margin : 50px 0 100px 0;
}

.ntable{
	width : 90%;
	margin : auto;
	text-align:center;
}

.ntable th {
	background-color : WhiteSmoke;
}

.ntable tr {
	line-height : 50px;
	border-bottom: 1px solid WhiteSmoke;
}

.ntable_tr:hover {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.ntable_tr a{
	display : flex;
	flex-direction: column;
}

.top{
	color: orange;
    font-weight: bold;
    font-size: 1.1em;
    background: lightyellow;
}

.con_box{
	font-size: 14px;
    color: #333;
    line-height: 1.6em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.ctable {
    margin:auto;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    
    border-top: 1px solid #000;
    width: 90%;
}
.con_box h5 {
	margin-left:5%;
}
.con_box th{
    padding: 0;
    margin: 0;
    width: 20%;
    text-align: center;
    font-size: 1em;
    color: #000;
    vertical-align: middle;
    font-weight: normal;
    background: #f5f5f5;
    border-bottom: 1px solid #EEE;
	
}

.con_box td{
	width: 80%;
    text-align: left;
    font-size: 1em;
    color: #888;
    vertical-align: top;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #EEE;
	font-size: 14px;
    color: #333;
    line-height: 1.6em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    letter-spacing: -0.02em;
}


.comment_inbox{
	width:100%;
	margin: 12px 0 6px;
    padding: 16px 10px 10px 18px;
    border: 2px solid silver;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: white;
}
.comment_textarea{
	border:none;
	width:90%;
	padding: 0;
	overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    border: 0;
}

textarea{
    outline: 0;
    resize: none;
}

.ArticleContentBox{
	width:90%;
	margin : auto;
}

.article_viewer{
	min-height:200px;
}
.w-s_p-w{
	white-space: pre-wrap;
	word-break: break-all;
    word-wrap: break-word;
	
}

.article_viewer img{
	/* width:100%; */
	margin-bottom:15px;
	
}

.profile_image img{
	border-radius:50%;
	position: relative;
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 45px;
    
}

.comment_inbox a{
	display: inline-block;
    min-width: 46px;
    height: 34px;
    line-height: 36px;
    font-size: 13px;
    color: var(--skinCommentWriterText);
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
    float : right;
}

.title_search_write{
	width : 90%;
	margin : auto;
}
	
.write_container {
	width : 90%;
	margin : auto;
	
}

.n_write{
	display: flex;
	float:right;
	text-align : center;
}

.WritingHeader{
	position : relative;
}

.ip {
	position : absolute;
	right : 0;
	bottom: 0;
}

.ip input {
	margin-left : 20px;
	}

.write_row{
	position : relative;
	bottom : 10px;
	margin-top : 20px;
	height : 45px;
	
}
.column_title input{
	position : relative;
	float: left;
	width : 77%;
	height : 45px;
	padding : 9px;
	border: 1px solid #ebecef;
    background: #fff;
}

.column_category{
	position : relative;
	float: right;
	width : 22%;
}

.column_category select {
	height : 45px;
	
}
select, textarea {
	padding : 9px;
	width : 100%;
	border: 1px solid #ebecef;
    background: #fff;
}
.write_content textarea {
	min-height : 300px;
}

.kakaoMap{
	width : 90%;
	margin : auto;
	height : 550px;
}

.text-center h2{
	padding: 10px 15px 0;
	margin-bottom: 0;
	font-size: 48px;
	color: #ffffff;
	display: inline-block;
	text-transform: uppercase;
	line-height: 1;
	}
	
.WriterInfo{
	height : 50px;
}

.p_f_info{
	display: flex;
    flex-direction : column;
    align-items: flex-start;
	
}
.update_delete{
	display: flex;
    float: right;
    text-align: center;
}

.write_btn, .delete_btn, .list_a, .forward_a, .nl_forward_a {
	width : 70px;
	line-height : 40px;
	background-color : whitesmoke ;
	border-radius : 10%;
	font-weight : bold;
}

.list_forward{
	display: flex;
	text-align: center;
	margin-left:5%;
}


.delete_btn, .forward_a {
	margin-left : 10px;
}

.profile_info input{
	float : left;
	border : none;
}

.footer-area{
	margin-top:10%;
}

.article_info_u input{
	border : none;
	
}

.n_u_img{
	margin-top: 10px;
}

.dp_h{
	display : none;
}

.hidden{
	display : none;
}


/* noticeDetail comment 댓글 =====================================================*/
.CommentBox .comment_list .comment_nick {
    margin-bottom: 4px;
}
.CommentBox .comment_list .comment_nick  {
    display: inline-block;
    position: relative;
    font-size: 13px;
    vertical-align: top;
}

.CommentBox .comment_list .comment_text_box .comment_text_view {
    overflow: hidden;
}

.comment_text_view {
	margin-right: 70px;
}

.CommentBox .comment_list .comment_text_box {
    position: relative;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
}

.CommentBox .comment_list .comment_text_box .text_comment {
    line-height: 17px;
    word-break: break-all;
    word-wrap: break-word;
    vertical-align: top;
}

.CommentBox .comment_list .comment_info_box {
    margin-top: 7px;
    font-size: 12px;
    color: var(--skinText979797);
}

.CommentBox .comment_list .comment_info_box .comment_info_reg {
    margin-right: 8px;
}

.CommentBox a {
    color: inherit;
}

a{
	cursor: pointer;
}

.CommentBox .comment_list .n_comment_area {
    position: relative;
    padding-top : 12px;
    padding-bottom : 10px;
}

.CommentBox .comment_list .comment_thumb {
    position: absolute;
    top: 12px;
    left: 0;
    width: 36px;
    height: 36px;
}

.CommentBox .comment_list .comment_box {
    padding-left: 55px;
}

.n_comment_area img{
	height : 45px;
	width : 43px;
	border-radius:50%;
	position : absolute;
}

.mg_b_10{
	margin-bottom:10px;
}

.CommentWriter .comment_attach {
    position: relative;
}

.CommentWriter {
    margin: 12px 0 29px;
    border: 2px solid var(--skinCommentWriterBorder);
    border-radius: 6px;
    box-sizing: border-box;
    background: var(--skinCommentWriterBg);
}

.CommentBox {
    margin-top: 10px;
}

.CommentWriter .comment_inbox {
    position: relative;
    margin-bottom: 10px;
}

.comment_attach{
	width : 100%;
	height : 30px;
}

.comment_attach input{
	float : right;
	border : none;
	margin-left : 15px;
	cursor: pointer;
}

.pd_55{
	padding: 0 20px 0px 54px;
}

.bg_ws{
	background-color : WhiteSmoke;
	
}

.comment_tool img{
	position: absolute;
    top: 12px;
    right: 10px;
	height : 16px;
	width : 16px;
}

.up_del  {
	position: absolute;
    top: 30px;
    right: 0;
	height : 30px;
	width : 70px;
	z-index : 1;
	margin-right: 10px;
}

.pd_15{
	padding : 0 15px 0 15px;
}

.title_area h3{
	margin-top : 8px;
}
.n_write a  {
	width : 70px;
	line-height : 40px;
	background-color : whitesmoke ;
	border-radius : 10%;
	font-weight : bold;
}



.search_bar{
	margin-top : 10px;
	height : 40px;
	border-radius : 10%;
	margin-bottom: 20px;
	display: flex;
	align-items: flex-start;
	
}

.search_select {
	margin-right : 10px;
	width : 90px;
	height : 40px;
	border-radius : 5px;
	
}

.search_input {
	width : 200px;
	height : 40px;
	padding : 9px;
	border: 1px solid #ebecef;
    border-radius: 5px;
	
}

.search_btn{
	margin-left : 10px;
    width: 40px;
    height: 40px;
    background-image: url(../img/notice/search.png);
    background-size: 90%;
    background-color : white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border : none;
}

/* ========= noticeWriterList ========= */

.notice_writer_info{
	display : flex;
	margin : 0 0 20px 5%;
}

.notice_writer_image img{
	border-radius: 50%;
	width : 70px;
	height : 70px;
}

.notice_writer_nname {
	margin-left : 15px;
	font-size : 30px;
	line-height: 70px;
}

/* ck-editor */

.ck.ck-editor {
   	width: 100%;
}
.ck-editor__editable {
    min-height: 400px;
}

.ad_search_input{
    width: 300px;
    height: 40px;
    padding: 9px;
    border: 1px solid #ebecef;
    border-radius: 5px;
	
}
