<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapperInterface.AdoptMapper">

<!-- 게시판 -->
<select id="selectList" resultType="vo.AdoptVO">
	select ano, title, id, regdate, cnt
	from adopt 
	order by ano desc
</select>
	
<!-- 게시글 -->
<select id="selectOne" resultType="vo.AdoptVO">
	select *
	from adopt
	where ano=#{ano}
</select>

<!-- 글쓰기 -->
<insert id="insert">
	<selectKey keyProperty="ano" resultType="int" order="BEFORE">
		select IFNULL(max(ano),0)+1 from adopt
	</selectKey>
	insert into adopt(ano, title, id, content) 
	values(#{ano}, #{title}, #{id}, #{content})
</insert>

<!-- 글수정 -->
<update id="update">
	update adopt set title=#{title}, content=#{content}
	where ano=#{ano}
</update>

<!-- 글삭제 -->
<delete id="delete">
	delete from adopt where ano=#{ano}
</delete>	
	
<!-- 조회수 -->
<update id="countUp">
	update adopt set cnt=cnt+1
	where ano=#{ano}
</update>

</mapper> 





















