<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapperInterface.DogMapper">


<select id="checkList" resultType="vo.DogVO">
	select * from dogs
	
	where breed in
	<foreach collection="check" item="it" open="(" close=")" separator=",">
		#{it}
	</foreach>
		
	order by dno desc
</select>



<select id="dog_list_S" resultType="vo.DogVO">
	select dno, title, img
	from dogs 
	where size = 's'
	order by dno desc
	limit #{sno}, #{rowsPerPage}
</select>

<select id="dog_list_M" resultType="vo.DogVO">
	select dno, title, img
	from dogs 
	where size = 'm'
	order by dno desc
	limit #{sno}, #{rowsPerPage}
</select>

<select id="dog_list_L" resultType="vo.DogVO">
	select dno, title, img
	from dogs 
	where size = 'l'
	order by dno desc
	limit #{sno}, #{rowsPerPage}
</select>



<select id="dog_count_S" resultType="int">
	select count(*)
	from dogs
	where size = 's'
</select>

<select id="dog_count_M" resultType="int">
	select count(*)
	from dogs
	where size = 'm'
</select>

<select id="dog_count_L" resultType="int">
	select count(*)
	from dogs
	where size = 'l'
</select>



<!-- 상세 페이지 -->
<select id="selectOne" resultType="vo.DogVO">
	select *
	from dogs
	where dno= #{dno}
</select>

<!-- 글쓰기 -->
<insert id="insert">
	insert into dogs(*) 
	values(*)
</insert>

</mapper> 
