<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapperInterface.FreeMapper">

<sql id="search">
	<if test="keyword!=null">
		<bind name="keyVal" value="'%'+keyword+'%'"/>
	</if>
	<choose>
		<when test="searchType=='s'.toString()">
			and subject like #{keyVal} )
		</when>
		
		<when test="searchType=='t'.toString()">
			and title like #{keyVal} )
		</when>
		<when test="searchType=='c'.toString()">
			and content like #{keyVal} )
		</when>
		<when test="searchType=='nn'.toString()">
			and nname like #{keyVal} )
		</when>
		<otherwise> )</otherwise>
	</choose>
</sql>

<select id="searchList" resultType="vo.FreeVO">
	select freeno, subject, title, DATE_FORMAT(regdate, '%Y-%m-%d') regdate, cnt, nname, uploadfile
	from free n, user u
	where n.id = u.id and ( freeno>0 <include refid="search"></include>  
	order by freeno desc
	limit #{sno}, #{rowsPerPage}
</select>

<select id="w_searchList" resultType="vo.FreeVO">
	select freeno, subject, title, DATE_FORMAT(regdate, '%Y-%m-%d') regdate, cnt, nname, uploadfile
	from free n, user u
	where u.id = #{id} and ( freeno>0 <include refid="search"></include>  
	order by freeno desc
	<!-- limit #{sno}, #{rowsPerPage} -->
</select>

<select id="searchCount" resultType="int">
	select count(*) 
	from free n, user u
	where n.id = u.id and ( freeno>0 <include refid="search"></include>
</select>

<select id="selectList" resultType="vo.FreeVO">
	select freeno, subject, title, id, DATE_FORMAT(regdate, '%Y-%m-%d') regdate, cnt
	from free order by freeno desc
</select>

<select id="selectOne" resultType="vo.FreeVO">
	select title, subject, uploadfile, n.id, nname, DATE_FORMAT(regdate, '%Y-%m-%d') regdate, cnt, content, img, freeno
	from free n, user u
	where n.id = u.id and freeno=#{freeno}
</select>

<!-- ** 조회수 증가	 -->
<update id="countUp">
	update free set cnt=cnt+1 where freeno=#{freeno}
</update>

<!-- ** 원글 입력 -->
<insert id="insert">
	<selectKey keyProperty="freeno" resultType="int" order="BEFORE">
		select IFNULL(max(freeno),0)+1 from free
	</selectKey>
	insert into free(freeno, title, id, content, subject, img) 
	values(#{freeno}, #{title}, #{id}, #{content}, #{subject}, #{img})
</insert>

<update id="update">
	update free 
	set title=#{title}, content=#{content}, subject=#{subject}, img=#{img} 
	where freeno=#{freeno}
</update>	
	
<delete id="delete">
	delete from free where freeno=#{freeno}
</delete>	

<!-- 글삭제시 포함된 댓글 삭제 -->
 <delete id="replyDeleteAll">
	delete from free_reply
	where freeno = #{freeno}
</delete>

<!-- ======================= 댓글 =======================  -->


<!-- 댓글입력 -->
<insert id="replyInsert">
	<selectKey keyProperty="grp" resultType="int" order="BEFORE"> 
		select IFNULL(max(grp),0)+1 
		from free_reply
		where freeno = #{freeno}
	</selectKey>
	
	insert into free_reply(frpno, freeno, grp, grpl, id, content) 
	values(#{frpno}, #{freeno}, #{grp}, #{grpl}, #{id}, #{content})
</insert>

<update id="replyUpdate">
	update free_reply
	set content = #{content}
	where frpno = #{frpno}
</update>

<!-- 댓글리스트 가져오기 -->
<select id="replySelectList" resultType="vo.FreeReplyVO">
	<!-- selectList 에 담겨야 하는 모든 vo 를 select 해야함! -->
	select freeno, frpno, content, regdate, nname, uploadfile, grp, grps, grpl
	from free_reply n, user u
	where n.id = u.id and freeno = #{freeno} 
	order by grp desc, grps asc	
</select>

<!-- 대댓글 입력 -->
<insert id="rereplyInsert">
	<selectKey keyProperty="grps" resultType="int" order="BEFORE"> 
		select IFNULL(max(grps),0)+1
		from free_reply 
		where freeno = #{freeno} and grp = #{grp}
	</selectKey>
	insert into free_reply(frpno, freeno, grp, grps, grpl, id, content)
	values(#{frpno}, #{freeno},  #{grp}, #{grps}, #{grpl}, #{id}, #{content})
</insert>

<!-- 댓글 삭제 -->
 <delete id="replyDelete">
	delete from free_reply
	<choose>
		<when test="grps == 0">
			where grp = #{grp} and freeno = #{freeno}
		</when>
		<when test="grps != 0">
			where frpno = #{frpno}
		</when>
	</choose>
</delete>

</mapper> 