<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapperInterface.NcommentMapper">

<!-- 댓글입력 -->
<insert id="ncinsert">
	<selectKey keyProperty="grp" resultType="int" order="BEFORE"> 
		select IFNULL(max(grp),0)+1 
		from ncomment
		where nno = #{nno}
	</selectKey>
	
	insert into ncomment(cno, nno, grp, grpl, id, content) 
	values(#{cno}, #{nno}, #{grp}, #{grpl}, #{id}, #{content})
</insert>

<update id="ncupdate">
	update ncomment
	set content = #{content}
	where cno = #{cno}
</update>

<!-- 댓글리스트 가져오기 -->
<select id="selectList" resultType="vo.NcommentVO">
	<!-- selectList 에 담겨야 하는 모든 vo 를 select 해야함! -->
	select nno, cno, content, regdate, nname, uploadfile, grp, grps, grpl
	from ncomment n, user u
	where n.id = u.id and n.nno = #{nno} 
	order by grp desc, grps asc	
</select>

<!-- 대댓글 입력 -->
<insert id="ncreply">
<!-- 	insert into ncomment(cno, nno, grp, grps, grpl, id, content)
	values(#{cno}, #{nno}, #{grp}, #{grps}, #{grpl}, #{id}, #{content}) -->

	<selectKey keyProperty="grps" resultType="int" order="BEFORE"> 
		select IFNULL(max(grps),0)+1
		from ncomment 
		where nno = #{nno} and grp = #{grp}
	</selectKey>
	insert into ncomment(cno, nno, grp, grps, grpl, id, content)
	values(#{cno}, #{nno},  #{grp}, #{grps}, #{grpl}, #{id}, #{content})
</insert>

<!-- 모댓글인 경우 cno, grp 일치 -->
<update id="nc_check">
	update ncomment set grp=#{grp}
	where cno != grp
</update>

<!-- 모댓글이 삭제된 댓글일때 답글도 모두삭제되면 테이블에서 완전히 삭제
<update id="ncdelete_table">
	delete from ncomment
	where content="" and grp=#{grp}
</update> -->


<!-- ncomment 에 댓글수 증가 -->
<update id="ncreply_up">
	update ncomment set reply=reply+1
	where cno=#{cno}
</update>


<!-- 댓글 추가/삭제시 댓글 갯수 가져오기 -->
<select id="nc_count" resultType="vo.NcommentVO">
	select reply
	from ncomment
	where cno=#{cno}
</select>

<!-- 모댓글의 답글수를 카운트 -->
<select id="nc_count_re" resultType="int">
	select count(cno)
	from ncomment
	where cno != #{cno} and grp = #{cno}
</select>

<!-- 대댓글 카운트 -->
<select id="ncreply_count_rere" resultType="int">
	select count(cno)
	from ncomment
	where cno != #{grp} and grp = #{grp}
</select>

<delete id="ncdelete">
	delete from ncomment
	<choose>
		<when test="grps == 0">
			where grp = #{grp} and nno = #{nno}
		</when>
		<when test="grps != 0">
			where cno = #{cno} and nno = #{nno}
		</when>
	</choose>
	<!-- 댓글 다 삭제됨 ㅡㅡ -->
</delete>

<!-- 모댓글이 삭제된 댓글일때 답글도 모두삭제되면 테이블에서 완전히 삭제 -->
<update id="ncdelete_grp">
	delete * from ncomment
	<if test="#{grps} == 0"></if>
	where nno = #{nno} and grp = #{grp}
	
</update>

<!-- 모댓글 삭제, 답글없음 
<delete id="ncdelete_no_re">
	delete from ncomment
	where cno = #{cno}
</delete>-->

<!-- 모댓글 삭제, 답글있음 -->
<update id="ncdelete_re">
	update ncomment set content = ""
	where cno = #{cno}
</update>

<!-- ncomment 에 댓글수 감소 -->
<update id="ncomment_down">
	update ncomment set reply=reply-1
	where cno = #{cno}
</update>



</mapper> 