<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapperInterface.NcommentMapper">

<!-- 댓글입력 -->
<insert id="ncinsert">
	<selectKey keyProperty="nno" resultType="int" order="BEFORE"> 
		select IFNULL(max(nno),0)+1 from ncomment
	</selectKey>
	insert into ncomment(cno, nno, grp,  nname, content) 
	values(#{cno}, #{nno}, #{grp},  #{nname}, #{content})
</insert>

<!-- 모댓글인 경우 cno, grp 일치 -->
<update id="nc_check">
	update ncomment set grp=#{grp}
	where cno != grp
</update>

<!-- 모댓글이 삭제된 댓글일때 답글도 모두삭제되면 테이블에서 완전히 삭제 -->
<update id="ncdelete_table">
	delete from ncomment
	where content="" and grp=#{grp}
</update>

<!-- 대댓글 입력 -->
<insert id="ncreply">
	insert into ncommnet(cno, nno, grp,  nname, content)
	values(#{cno}, #{nno}, #{grp},  #{nname}, #{content})
</insert>

<!-- ncomment 에 댓글수 증가 -->
<update id="ncreply_up">
	update ncomment set reply=reply+1
	where cno=#{cno}
</update>

<!-- 댓글리스트 가져오기 -->
<select id="selectList" resultType="vo.NcommentVO">
	select cno, nno, grp, grps, grpl, nname, content, reg, wimg, u.uploadfile
	from ncomment left outer join user u
	on nname = u.nname
	where cno = #{cno}
	order by grp asc, grps desc
</select>

<!-- 댓글 추가/삭제시 댓글 갯수 가져오기 -->
<select id="nc_count" resultType="vo.NcommentVO">
	select reply
	from ncomment
	where cno=#{cno}
</select>

<!-- 모댓글의 답글수를 카운트 -->
<select id="nc_count_re" resultType="int">
	select count(cno)
	from ncomment
	where cno != #{cno} and grp = #{cno}
</select>

<!-- 대댓글 카운트 -->
<select id="ncreply_count_rere" resultType="int">
	select count(cno)
	from ncomment
	where cno != #{grp} and grp = #{grp}
</select>

<!-- 모댓글 삭제, 답글없음 -->
<delete id="ncdelete_no_re">
	delete from ncomment
	where cno = #{cno}
</delete>

<!-- 모댓글 삭제, 답글있음 -->
<update id="ncdelete_re">
	update ncomment set content = ""
	where cno = #{cno}
</update>

<!-- ncomment 에 댓글수 감소 -->
<update id="ncomment_down">
	update ncomment set reply=reply-1
	where cno = #{cno}
</update>



</mapper> 