<?xml version="1.0" encoding="UTF-8"?>
<!--mapper용 xml 설정 mybatis MemberMapper  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapperInterface.QnaMapper">
	
	
  	<sql id="qnas">
  		<if test="keyword != null">
  			<bind name="keyVal" value="'%' + keyword + '%'"/>
  		</if>
  		<choose>
  			<when test="searchType=='st'.toString()">
  				 and title like #{keyVal} ) 
  			</when>
  			<when test="searchType=='sc'.toString()">
  				 and name like #{keyVal} ) 
  			</when>
  			<otherwise>)</otherwise>
  		</choose>
  	</sql>
 
  	
  	<select id="searchList" resultType="vo.QnaVO"> 
  		select * from question 
  		where ( qno > 0 <include refid="qnas"></include>   
  		order by qno desc limit #{sno}, #{rowsPerPage} 
  	</select>
  	
  	<select id="searchCount" resultType="int"> 
	select count(*) from question 
	where ( qno > 0 <include refid="qnas"></include> 
	</select>
  	
  	
  	<select id="selectOne" resultType="vo.QnaVO">
		select * from question where qno=#{qno}
	</select>

	<insert id="insert">
		<selectKey keyProperty="qno" resultType="int" order="BEFORE">
			select IFNULL(max(qno),0)+1 from question
		</selectKey>
		insert into question(qno,name,secret,title,content,profile,nickname,uploadfile) 
		values(#{qno},#{name},#{secret},#{title},#{content},#{profile},#{nickname},#{uploadfile})
	</insert>
 
 
 	<update id="update">
		update question set secret=#{secret}, title=#{title}, content=#{content}, uploadfile=#{uploadfile} where qno=#{qno}
	</update>	
	
	<update id="situp">
		update question set  situation=#{situation} where qno=#{qno}
	</update>
	
	<delete id="delete">
		delete from question where qno=#{qno}
	</delete>	
 	
	  	
  </mapper>
  
  