<?xml version="1.0" encoding="UTF-8"?>
<!--mapper용 xml 설정 mybatis MemberMapper  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapperInterface.UserMapper">
	
	
  	
  	<insert id="insert">
  		insert into user(id,password,name,nname,gender,email,phone,yy,mm,dd,uploadfile) values(#{id},#{password},#{name},#{nname},#{gender},#{email},#{phone},#{yy},#{mm},#{dd},#{uploadfile}) 
  	</insert>
  	
  	<select id="selectOne" resultType="vo.UserVO">
  		select * from user where id=#{id}
  	</select>
  	
  	<update id="update">
  		update user set password=#{password}, name=#{name}, nname=#{nname},
		yy=#{yy}, mm=#{mm}, dd=#{dd}, phone=#{phone}, email= #{email}, uploadfile=#{uploadfile} where id=#{id}
  	</update>
  	
  </mapper>
  
  